
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <nav>
  <div><h2>Book Shope</h2></div>
  <div><button></button></div>
</nav> -->
<nav class="flex justify-between p-4 bg-purple-900 text-white">
  <div class="bg-purple-900 h-5">
    <a routerLink="/">Book Shope</a>
  </div>
  <div>
    <a routerLink="cart">My Cart</a>
   
   
  </div>
  <div> <a routerLink="Login">Login</a></div>
  <div>  <a routerLink="Register">Register</a></div>
  
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

